#!/bin/rc
if (~ $#* 4)
{
	rfork e
	n1=`{cat $1 | grep 'no$' | awk '{print $1}'}
	n1=`{cat $2 | grep 'no$' | awk '{print $1}'}
	n1=`{cat $3 | grep 'no$' | awk '{print $1}'}
	n1=`{cat $4 | grep 'no$' | awk '{print $1}'}
	n=($n1 $n2 $n3 $n4)
	s1=`{cat $1 | grep 'si$' | awk '{print $1}'}
	s2=`{cat $2 | grep 'si$' | awk '{print $1}'}
	s3=`{cat $3 | grep 'si$' | awk '{print $1}'}
	s4=`{cat $4 | grep 'si$' | awk '{print $1}'}
	s=($s1 $s2 $s3 $s4)
	for (alumno1 in $s)
	{
		flag1=0
		flag2=0
		for (alumno2 in $s)
		{
			if (~$alumno1 $alumno2)
			{
				if (~$flag1 1)
					flag2=1
				if not
					flag1=1
			}
		}
		if (~$flag1 $flag2)
		{
			flag3=0
			for (repe in $aprobados)
				if (~$repe $alumno1)
					flag3=1
			if (~$flag3 0)
				aprobados=($aprobados $alumno1)
		}
		if not
		{
			flag3=0
			for (repe in $suspensos)
				if (~$repe $alumno1)
					flag3=1
			if (~$flag3 0)
				suspensos=($suspensos $alumno1)
		}
	}
	for (alumno1 in $n)
	{
		flag1=0
		for (alumno2 in $aprobados)
			if (~$alumno1 $alumno2)
				flag1=1
		for (repe in $suspensos)
			if (~$repe $alumno1)
				flag1=1
		if (~$flag1 0)
			suspensos=($suspensos $alumno1)
	}
	for (alumno in $aprobados)
		cat keys | grep $alumno | awk '-F|' '{printf("%s si\n", $3)}'
	for (alumno in $suspensos)
		cat keys | grep $alumno | awk '-F|' '{printf("%s no\n", $3)}'
}
if not
{
	echo 4 arguments needed >[1=2]
	exit ArgumentError
}